<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="rainflytours"
             deploymentSecret="e9FfylLv4ZJ4yJR7YN84GPlIYyp668r47WQrXLjZTSV2f8ZKVA6kd9h7olimvjOm"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
